<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anagram</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>

<a class="btn btn-default" href="/logout">Logout</a>

<h2>Anagram</h2>

<a class="btn btn-default" href="/anagram/number-of-characters">Number of characters</a>
<a class="btn btn-default" href="/anagram/frequency-of-lengths">Frequency of lengths</a>
<a class="btn btn-default" href="/anagram/frequency-of-characters">Frequency of characters</a>
<a class="btn btn-default" href="/anagram/length-of-longest">Length of longest</a>
<a class="btn btn-default" href="/anagram/length-of-shortest">Length of shortest</a>
<a class="btn btn-default" href="/anagram/average-of-lengths">Average of lengths</a>

<p>
    <span th:text="${numberOfCharacters != null} ? ${numberOfCharacters}"></span>
    <span th:text="${lengthOfLongest != null} ? ${lengthOfLongest}"></span>
    <span th:text="${lengthOfShortest != null} ? ${lengthOfShortest}"></span>
    <span th:text="${averageOfLengths != null} ? ${averageOfLengths}"></span>
</p>

<form class="form-inline" th:action="@{/anagram}" method="POST">
    <div class="form-group">
        <label class="sr-only" for="input">Word</label>
        <input type="text" class="form-control" id="input" name="input" placeholder="Word"/>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>

<br/>
<ul>
    <li th:each="anagram : ${anagrams}"><span th:text="${anagram}"></span></li>
</ul>
</body>
</html>